@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css');

:root {
	--clr-red: #cc5e2d;
	--clr-blue: #1b81a8;
	--clr-green: #588759;
	--clr-yellow: #ffa940;
	--clr-brown: #3c3f41;
	--clr-brown-dark: #2b2b2b;
	--clr-brown-light: #484948;
	--clr-grey: #abb2bf;
	--clr-grey-light: #e5e5e5;
}

html,
body {
	height: 100%;
}

body {
	font-size: 1em;
	line-height: 1.25em;
	font-family: 'Roboto', sans-serif;
	background-color: white;
}

.wrapper {
	height: 100%;
}

.flow > * + * {
	margin-top: var(--flow-space, 1em);
}

.btn {
	height: 100%;
	padding-inline: 1em;
	border: none;
	color: var(--clr-grey);
	text-transform: capitalize;
	cursor: pointer;
}

.btn:focus-visible {
	outline: 0.25em solid var(--clr-grey);
	outline-offset: -0.25em;
}

.btn[data-type='base'] {
	background-color: var(--clr-brown);
}

.btn[data-type='current'] {
	background-color: var(--clr-brown-light);
}

.btn-icon {
	--bi-star: '\eeb8';
	--bi-trash: '\eed5';

	position: relative;
	width: 1.5em;
	height: 1.5em;
	margin: 0.25em;
	border: none;
	background-color: transparent;
	cursor: pointer;
}

.btn-icon::before {
	content: var(--icon);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: var(--color);
}

.btn-icon[data-type='star'] {
	--icon: var(--bi-star);
	--color: var(--clr-yellow);
}

.btn-icon[data-type='star-disabled'] {
	--icon: var(--bi-star);
	--color: var(--clr-brown-dark);
}

.btn-icon[data-type='trash'] {
	--icon: var(--bi-trash);
	--color: var(--clr-red);
}

.btn-icon:focus-visible {
	outline: 0.25em solid var(--clr-grey);
}
